.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureItem {
  margin-bottom: 4rem;
}


.enlargedButton {
  padding: 0.9rem 1.8rem;
  font-size: 1.1rem;
  min-width: 180px;
  background-color:#5f6c7b;
  border:1px solid #5f6c7b;
}


@media (max-width: 768px) {
  .featureItem {
    margin-bottom: 4rem;
  }

  .enlargedButton {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    min-width: 50%;
    box-sizing: border-box;
  }
}